name: Update release
on:
  # push:
  #   paths:
  #     - "source/**"
  #     - "!source/README.md"
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            source
            DEEZER_VERSION

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          
      - name: Install ASAR
        run: npm install -g --engine-strict @electron/asar

      - name: Create ASAR package
        run: |
          asar pack ./source app.asar
      
      - name: Zip files
        run: |
          zip app.asar.zip app.asar
          cd source/build/
          zip ../../patched_source.zip main.js preload.js renderer.js titlebar.js DeezMod/*

      - name: Read Deezer version
        id: deezer_version
        run: echo "DEEZER_VERSION=$(cat DEEZER_VERSION)" >> $GITHUB_ENV

      - name: Read DeezMod version
        id: deezmod_version
        run: echo "DEEZMOD_VERSION=$(cat DEEZMOD_VERSION)" >> $GITHUB_ENV

      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: 'v${{ env.DEEZMOD_VERSION }}'
          name: 'Release v${{ env.DEEZMOD_VERSION }}'
          body: "Release for Deezer version ${{ env.DEEZER_VERSION }}"
          files: |
            ./app.asar.zip
            ./patched_source.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
